{% extends 'blog/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <form class="row" method="post" enctype="multipart/form-data">
                    <div class="card">
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% if object %}
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                            {% else %}
                            <button type="submit" class="btn btn-primary">Создать</button>
                            {% endif %}
                            <a class="btn btn-dark" href="{% url 'blog:blog_list' %}" role="button">Назад</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}